
{% extends "base.html" %}
{% block title %}Bucketlist | Add{% endblock %}
{% block body %}
  <div class="container">
    <h1><center>BucketList Add</center></h1>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    
<form method="post" action="{{url_for('save_new') }}">
<div class="form-group row">
  <label for="User Name" class="col-2 col-form-label">Index</label>
  <div class="col-10">
    <input class="form-control" type="text" value="1" id="index" name="index">
  </div>
</div>

<div class="form-group row">
  <label for="activity" class="col-2 col-form-label">Activity</label>
  <div class="col-10">
    <input class="form-control" type="text"  id="activity" name="activity">
  </div>
</div>
<div class="form-group row">
  <label for="Target" class="col-2 col-form-label">Target Date</label>
  <div class="col-10">
    <input class="form-control" type="text"  id="date" name="date">
  </div>
</div>

<div class="form-group row">
  <div class="col-2"></div>
  <div class="col-10">
    <input class="form-control btn btn-primary" type="submit" value="SAVE" id="login">
  </div>
</div>
</form>
</div>
{% endblock %}